{% extends "base.html" %}

{% block head %}

	{{ super() }}
	<!--<meta name="google-site-verification" content="NTP3s5vk3p_XegMamJvIj1Bl0CGfOlZd0iZqr5_0wEE" />-->
	<title>Calorie Counter - Record and analyze how many calories you consume each day</title>
	<link rel=stylesheet type=text/css href="{{url_for('home.static',filename='home.css')}}">
	<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
	</script>
	<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
	<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.js"></script>

{% endblock %}

{% block pageContent %}

	<div ng-app="ccapp" ng-controller="homeCtrl" id="homeCtrlDiv">

		<div class="outerdiv" id="headerdiv">
			<h1 id="headerlogo">Calorie Counter</h1>
			<p id="headerlogophrase">Record and analyze how many calories you consume each day</p>
		</div>
		
		<!-- extension: sub angular views in and out based on controldiv selections -->
		<div class="outerdiv mainviewdiv" id="caloriediv" ng-show="viewingCalories">

			<div id="calorielistdiv">
				<span id="calorielistheader"><button class="click addclick" type="button" ng-click="togglePostCalorie(true, true)">Add a calorie</button>, or click a calorie to view/edit</span>
				<div id="calorielistlist">
					<span class="calorieslistcal" ng-repeat="cal in curr_cals">
			      		<button class="click calbutton" id="cal-//cal.id//" type="button" ng-click="toggleViewCalorie(true, cal.id)">Calorie //cal.id//:</button> <span>Date: //cal.date_str//; Amount: //cal.amnt//</span>
			      		<br>
			      	</span>
			    </div>
			</div>

			<div id="singlecaloriediv" ng-show="viewingCalorie">
				<span id="singlecalorieheader">Calorie //curr_cal.id//</span>
				<br>
		      	<span>Date: //curr_cal.date_str//</span>
		      	<br>
		      	<span>Time: //curr_cal.time//</span>
		      	<br>
		      	<span>Amount: //curr_cal.amnt//</span>
		      	<br>
		      	<span>Text: //curr_cal.text//</span>
		      	<br>
		      	<button class="click editclick" type="button" ng-click="togglePostCalorie(true, false)">edit calorie</button> | <button class="click deleteclick" ng-click="deleteCalorie()">delete calorie</button> | <button type="button" ng-click="toggleViewCalorie(false)">close calorie</button>
			</div>

			<div id="postcaloriediv" ng-show="addingCalorie || editingCalorie">
				<form id="postcalorieform" ng-submit="postCalorie()">
					<span class="calformheader" ng-show="addingCalorie">Add a calorie with the following info:</span>
					<span class="calformheader" ng-show="editingCalorie">Change the calorie as desired and submit.</span>
					<br>
					<span class="attridentifier">Date: </span><input type="date" ng-model="post_cal.date">
					<br> 
					<span class="attridentifier">Time: </span><input type="range" max="23" min="0" step="1" ng-model="post_cal.time"><span> //post_cal.time//:00</span>
					<br>
					<span class="attridentifier">Number of calories: </span><input type="text" ng-model="post_cal.amnt">
					<br>
					<span class="attridentifier">Text: </span><input type="text" ng-model="post_cal.text">
					<br>
					<input type="submit" value="submit">
					<button class="click" type="button" ng-click="togglePostCalorie(false, addingCalorie)">cancel</button>
				</form>
			</div>

		</div>
		<!-- end calorie main view -->

		<!-- high-level controls and signin/out -->
		<div class="outerdiv" id="controldiv">
			<div class='signedIn-//isSignedIn()//' ng-show="isSignedIn()">
				<span id='signInMessage'>Signed in as //log_user.username//</span>
				<div id="controlbuttons">
					<button class="click" type="button" ng-click="toggleViewProfile(true)" ng-show="canCRUDSelf()">View / edit your profile</button>
					<br>
					<button class="click" type="button" ng-click="toggleViewCalories(true)" ng-show="canCRUDSelf()">View / edit / modify / delete your calories</button>
					<br>
					<button class="click" type="button" ng-click="toggleViewUsers(true)" ng-show="canCRUDUsers()">Manage users <span ng-show="canCRUDAll()">and calorie records</span></button>
			    	<button class="click" type="button" ng-click="signout()">Sign out</button>
			    </div>
			</div>
			<div class="signedIn-//!isSignedIn()//" ng-show="!isSignedIn()" id="signInButton">
				<!-- Google+ sign in button -->
				<!-- data-scope is the data we want to have access to -->
				<!-- data-redirect="postmessage" enables the one-time use code flow -->
				<!-- data-accesstype="offline" lets the app access user data even when the user is offline -->
				<!-- data-cookiepolicy determines scope of URIs that can acces the cookie -->
				<!-- data-callback specifies a callback method for when Google gives a one-time-use code along with an access code) -->
				<!-- data-approvalprompt="force" means user has to log in each time visit login page -->
				<div class="g-signin"
					data-scope="openid email"
	            	data-redirecturi="postmessage"
	            	data-clientid="104598252187-0rbq64ac895hj3pkc0unepar2n1cf7j9.apps.googleusercontent.com"
	            	data-accesstype="offline"
	            	data-cookiepolicy="single_host_origin"
	            	data-callback="signInCallback"
	            	data-approvalprompt="force">
	    		</div>
	    	</div>
	    </div>
	    <!-- end high-level controls and signin/out -->

		<div class="hidden" id="state" ng-model="state">{{state}}</div>

	</div>
	<!-- end ng-app and controller div -->

{% endblock %}


{% block scripts %}

	<!--// load angular app -->
	<script src="{{url_for('home.static', filename='home.js')}}"></script>
	<!--
	<script src="bower_components/jquery.js"></script>
	<script src="bower_components/knockout.js"></script>		
	-->

{% endblock %}