{% extends "base.html" %}

{% block head %}

	{{ super() }}
	<!--<meta name="google-site-verification" content="NTP3s5vk3p_XegMamJvIj1Bl0CGfOlZd0iZqr5_0wEE" />-->
	<title>Calorie Counter - Record and analyze how many calories you consume each day</title>
	<link rel=stylesheet type=text/css href="{{url_for('home.static',filename='home.css')}}">
	<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
	</script>
	<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
	<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.js"></script>

{% endblock %}

{% block pageContent %}

	<div ng-app="ccapp" ng-controller="homeCtrl" id="homeCtrlDiv">

		<div class="outerdiv" id="headerdiv">
			<h1 id="headerlogo">Calorie Counter</h1>
			<p id="headerlogophrase">Record and analyze how many calories you consume each day</p>
		</div>

		<div class="outerdiv" id="flashdiv">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							<li><strong><{{message}}</strong></li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>

		<div class="outerdiv" id="controldiv">

			<div class="list signedIn-//isSignedIn//" ng-show="isSignedIn()">
				<p>Options:</p>
				<a href="toggleProfileView(true)" ng-show="canCRUDSelf()">View / edit your profile</a>
				<br>
				<a href="toggleCalorieView(true)" ng-show="canCRUDSelf()">View / edit / modify / delete your calories</a>
				<br>
				<a href="toggleUserView(true)" ng-show="canCRUDUsers()">Manage users <span ng-show="canCRUDAll()">and calorie records</span></a>
			</div>

		</div>

		<div class="outerdiv" id="mainviewdiv">
			<!-- extension: sub angular views in and out based on controldiv selections -->

			<div id="caloriediv" ng-show="viewingCalories">

				<div id="calorielistdiv" ng-repeat="cal in curr_cals">
					<span id="calorielistheader">Click a calorie to view details.</span>
					<div id="calorielistlist">
				      	<a href="toggleViewCalorie(true)"><span>Date: //cal.date//</span>; Amount: //cal.amnt//</span></a>
				      	<br>
				      	<a href="toggleCaloriePost(true, true)">Add new calorie</a>
				    </div>
				</div>

				<div id="singlecaloriediv" ng-show="viewingCalorie">
			      	<span>Date: <span ng-model="curr_cal.date"></span></span>
			      	<br>
			      	<span>Time: <span ng-model="curr_cal.time"></span></span>
			      	<br>
			      	<span>Amount: <span ng-model="curr_cal.amnt"></span></span>
			      	<br>
			      	<span>Text: <span ng-model="curr_cal.text"></span></span>
			      	<br>
			      	<span><a href="toggleCaloriePost(true, false)">edit calorie</a> | <form ng-submit="deleteCalorie()"><input type="submit" value="delete calorie"></form> | <a href="toggleViewCalorie(false)">stop viewing calorie</a>
			      </form>
				</div>

				<div id="postcaloriediv" ng-show="postingCalorie">
					<form id="postcalorieform" ng-submit="postCalorie()">
						<span class="calformheader" ng-show="addingCalorie">Add a calorie with the following info:</span>
						<span class="calformheader" ng-show="editingCalorie">Change the calorie as desired and submit.</span>
						<br>
						<span class="attridentifier">Date: </span><input type="date" ng-model="postCalorieDate" ng-model="post_cal.date"> 
						<span class="attridentifier">Time: </span><input type="time" ng-model="postCalorieTime" ng-model="post_cal.time">
						<span class="attridentifier">Number of calories: </span><input type="text" ng-model="post_cal.amnt" ng-model="curr_cal_amnt">
						<span class="attridentifier">Text: </span><input type="text" ng-model="postCalorieText" ng-model="post_cal.text">
						<span class="attridentifier">Text: </span><input type="submit" value="submit">
						<a href="toggleCaloriePost(false, addingCalorie)">cancel</a>
					</form>
				</div>

			</div>
			<!-- end calorie view -->

		</div>

	<!-- Google+ sign in button -->
	<!-- data-scope is the data we want to have access to -->
	<!-- data-redirect="postmessage" enables the one-time use code flow -->
	<!-- data-accesstype="offline" lets the app access user data even when 
		the user is offline -->
	<!-- data-cookiepolicy determines scope of URIs that can acces the cookie -->
	<!-- data-callback specifies a callback method 
		(in this case when the user signs in and Google gives the one-time-use code
		along with an access code) -->
	<!-- data-approvalprompt="force" means user has to log in 
		each time visit login page // useful for debugging, not so in production -->
		<div class="outerdiv" id="signindiv">
			<div class='signedIn-//isSignedIn()//' ng-show="isSignedIn()">
				<span id='signInMessage'>Signed in as //log_user.username//</span>
				<br>
		    	<div class="signOut">
		    		<a class="backLink" href="#" ng-submit="signOut()">Sign out</a>
		    	</div>
			</div>
			<div class="signedIn-//!isSignedIn()//" ng-show="!isSignedIn()" id="signInButton">
				<div class="g-signin"
					data-scope="openid email"
	            	data-redirecturi="postmessage"
	            	data-clientid="104598252187-0rbq64ac895hj3pkc0unepar2n1cf7j9.apps.googleusercontent.com"
	            	data-accesstype="offline"
	            	data-cookiepolicy="single_host_origin"
	            	data-callback="signInCallback"
	            	data-approvalprompt="force">
	    		</div>
	    	</div>
	    </div>

		<div class="hidden" id="state" ng-model="state">{{state}}</div>

	</div>
	<!-- end ng-app and controller div -->

{% endblock %}


{% block scripts %}

	<!--// load angular app -->
	<script src="{{url_for('home.static', filename='home.js')}}"></script>
	<!--
	<script src="bower_components/jquery.js"></script>
	<script src="bower_components/knockout.js"></script>		
	-->

{% endblock %}