<html ng-app="ccapp" ng-controller="homeCtrl">
<head>
	<link rel=stylesheet type=text/css href="{{url_for('home.static',filename='index.css')}}">
	<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
	</script>
	<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
	<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.js"></script>
    <script src="{{url_for('home.static', filename='home.js')}}"></script>
</head>
<body>
	<h1 class='header'>
		Welcome to <span id='title'>Calorie Count</span>
	</h1>

	<div class='flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li><strong><{{message}}</strong></li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	</div>

	<div name="angulartest">
		<h1>Hello //userName//!</h1>
		<div>
    		<input type="text" ng-model="firstName" placeholder="Username">
    		<p ng-model="name"></p>
    		<input type="password" placeholder="Password">
    		<input type="button" ng-submit="signin()" value="SignIn"> 
		</div>
	</div>

	<div class='list'>
		What would you like to do?
		<ul>
			<li>
				<a class='crud read' href="">View your calories</a>
			</li>
			<li>
				<a class='crud add' href="">Add some calories</a>
			</li>
		</ul>
	</div>

<!-- Google+ sign in button -->
<!-- data-scope is the data we want to have access to -->
<!-- data-redirect="postmessage" enables the one-time use code flow -->
<!-- data-accesstype="offline" lets the app access user data even when 
	the user is offline -->
<!-- data-cookiepolicy determines scope of URIs that can acces the cookie -->
<!-- data-callback specifies a callback method 
	(in this case when the user signs in and Google gives the one-time-use code
	along with an access code) -->
<!-- data-approvalprompt="force" means user has to log in 
	each time visit login page // useful for debugging, not so in production -->
	<div id="signIn">
		<div class='hideLoggedOut'>
			<span id='signInMessage'>Signed in as 'temp'</span><!--client_login_session['username']}}-->
			<br>
			<a class='actionLink' id='profileLink'
               href="">View/edit your profile</a><!--url_for('user',user_id=client_login_session['user_id'])}}-->
		</div>
		<div class='hideLoggedIn' id='signInButtons'>
			<div class="g-signin"
				data-scope="openid email"
            	data-redirecturi="postmessage"
            	data-clientid="446362929824-aoa0sov3apqfqin1njstj6hu078e49ap.apps.googleusercontent.com"
            	data-accesstype="offline"
            	data-cookiepolicy="single_host_origin"
            	data-callback="signInCallback"
            	data-approvalprompt="force">
    		</div>
    	</div>
    	<div class='hideLoggedOut signOut'>
    		<a class="backLink" href="#" ng-submit="HomeCtrl.signOut();">Sign out</a>
    	</div>
    </div>
    <br>
	<br>
    <div class='hiddenClass' id='result'>
    	<p id='resultMessage'></p>
    	<h1 id='welcome'></h1>
    	<div id='redirectMessage'></div>
    </div>
	<div class='hiddenClass' id='state'><!--state}}--></div>
	
<script src=""></script> <!--"url_for('static', filename='login.js')}}" for left func -->
<!--
<script>
	displayBasedOnLogin("hi"); 
</script>"client_login_session['message']}}" for above func-->
</body>
</html>